---
export interface Props {
  title?: string;
  description?: string;
  href?: string;
  src?: string;
  price?: number;
  hashtag?: string;
  colors?: string[];
  key?: string;
}

const {
  hashtag = "#newtag",
  src = "https://www.dior.com/couture/var/dior/storage/images/pushs-editos/folder-main-winter-22-femme/folder-winter-w2/254r17am523x9000/36557358-1-eng-GB/254r17am523x9000_1440_1200.jpg",
  href = "/",
  title = "title",
  description = "this is body",
  key = "",
  colors = [],
  price = null,
} = Astro.props;
---

<a href={"/products/" + title}>
  <img src={src} alt={title} width={400} height={500} />
  <h2 class="font-bold">{title}</h2>
  <p>{description}</p>
  <!-- <div class="flex">
    {
      colors.map((item) => {
        return (
          <div
            style={`height: 25px; width:25px; border-radius:50%; background:${item};`}
          />
        );
      })
    }
  </div> -->
  <h4>&#3647 {price}</h4>
</a>

<style>
  :root {
    --link-gradient: linear-gradient(
      45deg,
      #4f39fa,
      #da62c4 30%,
      var(--color-border) 60%
    );
  }
</style>
