---
import Layout from "../../components/Layout.astro";
import Button from "../../components/Button";
const ENDPOINT = import.meta.env.ENDPOINT;
const product = Astro.params.product;

const getDate = await fetch(ENDPOINT + "/products/" + product)
  .then((res) => res.json())
  .catch((err) => console.error(err));

type Product = {
  ID: string;
  Title: string;
  Colors: string[];
  Description: string;
  Hashtags: string[];
  Images: string[];
};
const { ID, Title, Colors, Description, Hashtags, Images }: Product = getDate;
// const Images = getDate.Images;
// const Title = getDate.Title;
---

<Layout>
  <script is:inline>
    // const sendMessage = async () => {
    //   if (liff.isInClient()) {
    //     liff
    //       .sendMessages([
    //         {
    //           type: "text",
    //           text: "Hello, World!",
    //         },
    //       ])
    //       .then(() => {
    //         console.log("message sent");
    //       })
    //       .catch((err) => {
    //         console.log("error", err);
    //       });
    //   }
    // };

    // sendMessage();
  </script>

  <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-4 px-4">
    <section class="divide-y">
      <div>
        <h1>{Title}</h1>
        <p>{Description}</p>
        {Hashtags.map((item, key) => <p>{item}</p>)}
        <p>Reference: {ID}</p>
      </div>
      <div>
        <h4>&#3647 50</h4>
      </div>
      <div
        class="pointer-events-auto relative inline-flex rounded-md bg-white text-[0.8125rem] font-medium leading-5 text-slate-700 shadow-sm ring-1 ring-slate-700/10 hover:bg-slate-50 hover:text-slate-900"
      >
        <Button name={"Purchase"} ID={ID} client:idle />
      </div>
    </section>
    <section class="grid grid-cols-1 gap-4">
      <div>
        <img src={"https://storage.googleapis.com" + Images[0]} alt={Title} />
      </div>
      <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-4">
        {
          Images &&
            Images.map((item) => (
              <img src={"https://storage.googleapis.com" + item} alt={Title} />
            ))
        }
      </div>
    </section>
  </div>
</Layout>
